*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}
body > div {
    margin: auto;
}
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 48px;
    border-radius: 50px ;
    color: aliceblue;
    cursor: pointer;
    transition: opacity .2s ease;
}

.btn:hover{
    opacity: 0.8;
}
.btn + .btn{
    margin-left: 16px;
}
.btn--success { 
  background-color: blue;                                                      
}

.btn--warn {
    background-color: #ffb702;
}

.btn--danger{
    background-color: blueviolet;
}

.btn--disable{
    opacity: 0.2 !important;
    cursor: default;
}